.nav {
    display: block;
}
.topNav {
    background-color: black;
}
.topNav ul{
    display: flex;
    justify-content: flex-end;

}
.secondNav ul{
    display: flex;
    justify-content: flex-end; 
}
.nav justify-content-end {
  list-style: none;
}
#active,
#active-btn {
  color: #ec5242;
}
.nav-item a {
  color: #272a31;
}
.btn {
  border: 4px solid #ec5242;
  padding: 0.5em;
  color: #ec5242;
  margin-left: 2em;
}

.contents {
    margin: 0 auto;
    min-width: 10%;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}
.jumbo {
  max-width: 100%; 
  height: auto;
  overflow: hidden;
}
.jumbo h4 {
    color: #ec5242;
  font-size: 1.5rem;
  margin: 0 auto;
}
.jumbo h1 {
    font-family: cocogoose, sans-serif;
    color: #ec5242;
    font-size: 3rem;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 0.5em;
    text-align: center;
  }
  
  .jumbo p {
    color: #272a31;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 2em;
    border: 2px solid white;
    padding: 1em;
    width: 60%;
    font-weight: bolder;
    text-align: center;
  }
  
  .jumbo h2 {
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 2em;
    color: #272a31;
    font-family: cocogoose, sans-serif;
    text-transform: uppercase;
  }


  .side {
    background-color: black;
  }
  .side h2 {
    color: white;
    text-align: center;
  }
  .hr {
    margin-top: 10px;
    border: 1px solid #ec5242;
    border-radius: 5px;
    width: 3vw;
  }
  
  .card-deck {
    padding: 10px;
  }

  .card-deck card {
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .card-deck img{
height:50px;
width:50px;
}
.image-container {
height:260px;
width:200px;
align-items: center;
}
.partners {
  background-color: #272a31;
  color: #d3d3d3;
}
.part-list li {
  padding: 2em;
  font-size: 1.2rem;
}
.partners .title {
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}

.part-list {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  align-items: center;
}
.footer-about { 
  margin-right: 15em; 
}
.main-event,
.about-event {
  background:
    linear-gradient(to bottom, rgba(73, 70, 70, 0.9), rgba(143, 119, 119, 0.966)),
    url('./images/doof.jpg') no-repeat center center/cover;
}

.container {
  margin: 0 auto;
  min-width: 10%;
  padding: 5em;
  display: flex;
  flex-direction: column;
}
.container h2 {
  text-align: center;
}

.jumbo p {
  color: #272a31;
  line-height: 1.5;
  margin: 0 auto;
  margin-top: 2em;
  border: 2px solid white;
  padding: 1em;
  width: 60%;
  font-weight: bolder;
  text-align: center;
}

.jumbo h3 {
  margin: 0 auto;
  margin-top: 1em;
  color: #272a31;
  line-height: 1.2;
  font-size: 1.2rem;
}

.chef-image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.tbl {
  border:6px solid red;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 60%;
}

.tik h3{
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  .chef-image { min-width: 30%; }

  .card-body { min-width: 50%; }

  .btn { padding: 0.5em; }

  #part-container { padding: 2em; }

  .secondNav { padding: 0.5em; }
}

@media (max-width: 576px) {
  .footer { display: inline-block; }

  .raffle-ticket { flex-direction: column; }

  .ticket-table {
  display: grid;
  grid-template-columns: 1fr;
  
}
.jumbo p {
  line-height: 1;
  width: 80%;
}
}