.nav {
    display: block;
}
.topNav {
    background-color: black;
}
.topNav ul{
    display: flex;
    justify-content: flex-end;

}
.secondNav ul{
    display: flex;
    justify-content: flex-end; 
}
.nav justify-content-end {
  list-style: none;
}
.active-btn {
  color: #ec5242;
}
.nav-item a {
  color: #272a31;
}
.btn {
  border: 4px solid #ec5242;
  padding: 0.5em;
  color: #ec5242;
  margin-left: 2em;
}

.contents {
    margin: 0 auto;
    min-width: 10%;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.jumbo {
  max-width: 100%; 
  height: auto;
}
.jumbo h4 {
    color: #ec5242;
  font-size: 1.5rem;
  margin: 0 auto;
}
.jumbo h1 {
    font-family: cocogoose, sans-serif;
    color: #ec5242;
    font-size: 3rem;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 0.5em;
    text-align: center;
  }
  
  .jumbo p {
    color: #272a31;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 2em;
    border: 2px solid white;
    padding: 1em;
    width: 60%;
    font-weight: bolder;
    text-align: center;
  }
  
  .jumbo h2 {
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 2em;
    color: #272a31;
    font-family: cocogoose, sans-serif;
    text-transform: uppercase;
  }
  
  .jumbo h3 {
    margin: 0 auto;
    margin-top: 1em;
    color: #272a31;
    line-height: 1.2;
    font-size: 1.2rem;
  }
  .side {
    background-color: black;
  }
  .side h2 {
    color: white;
    text-align: center;
  }
  .hr {
    margin-top: 10px;
    border: 1px solid #ec5242;
    border-radius: 5px;
    width: 3vw;
  }
  .card-deck {
    padding: 30px;
  }
  .card-deck img{
height:50px;
width:50px;
}
.col img {
height:200px;
width:200px;
align-items: center;
}
.row {
  padding: 50px;
}
